<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-light fixed-top scrolling-navbar" style="background-color:whitesmoke;">
    <div class="container-fluid">

      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="basicExampleNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <% if(user.role == 'student'){ %> 
            <a class="navbar-brand" href="/student/courses">
              <% }else{ %>
            <a class="navbar-brand" href="/instructor/courses">

                <% } %>  
              <img src="/images/blackhat.png" alt="Logo" width="10%"> blackhat251 Foodle
            </a>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav ml-auto">
          <% if(user.role=="student"){ %> 
          <li class="nav-item dropdown" style="cursor: pointer;">
            <a class="nav-link dropdown-toggle waves-effect" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="true">
              Enroll Course
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item"> 
                <form class="form-inline" action="/student/enroll_course" method="POST">
                  <input class="form-control mr-sm-2" type="text" placeholder="XXX" name="coursecode" required>
                  <button class="btn btn-outline-success my-2" type="submit">Enroll</button>
                </form>
              </a>
            </div>
          </li>
          <% } %> 
          <li class="nav-item dropdown" style="cursor: pointer;">
            <a class="nav-link dropdown-toggle waves-effect" id="navbarDropdownMenuLink3" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="true">
              <%= user.name %>
            </a>
            <% if (user.role == "student"){%> 
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/student/courses">My Courses</a>
              <a class="dropdown-item" href="/student/todo">Pending Assignments</a>
              <a class="dropdown-item" href="/student/view_submission">My Submissions</a>
              <!-- <a class="dropdown-item" href="#!">Grades</a> -->
              <a class="dropdown-item" href="/editprofile">Edit Profile</a>
              <a class="dropdown-item" href="/update_password">Update Password</a>
              <a class="dropdown-item" href="/student/profile">Your Profile</a>
            </div>
            <% }else{ %>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/instructor/courses">My Courses</a>
                <a class="dropdown-item" href="/instructor/todo">Pending Assignments</a>
                <a class="dropdown-item" href="/instructor/create_course">Create New Course</a>
                <!-- <a class="dropdown-item" href="#!">Grades</a> -->
                <a class="dropdown-item" href="/editprofile">Edit Profile</a>
                <a class="dropdown-item" href="/update_password">Update Password</a>
                <a class="dropdown-item" href="/instructor/profile">Your Profile</a>
            </div>
              <% } %> 

          </li>
          <li class="nav-item pl-2 mb-2 mb-md-0">
            <a href="/logout" type="button"
              class="btn btn-outline-info btn-md btn-rounded btn-navbar waves-effect waves-light">Log Out</a>
          </li>
        </ul>

      </div>
      <!-- Links -->
    </div>
  </nav>
  <!-- Navbar -->

</header>