<h2>Edit profile</h2>

<form action="/editprofile" method="post" >
    <label for="name">New Name</label>
    <input type="text" name="name">
    <label for="email">New Email</label>
    <input type="text" name="email">
    <input type="submit" value="Submit">            
</form>
