<h1>
    Registration page
</h1>
<% if(message) {%>
    <h4><%= message.error %></h4>
    <h4><%= message.success %></h4>
<% }%>
</br>
</br>
<form action="/register" method="POST">
    
    <label for="username">UserName</label>
    <input type="text" id="username" name="username">
    </br>
    </br>
    <label for="password">Password</label>
    <input type="password" id="password" name="password">
    </br>
    </br>
    <label for="name">Name</label>
    <input type="text" name="name">
    </br>
    </br>
    <label for="email">Email</label>
    <input type="text" name="email">
    </br>
    </br>
    <label for="role">instructor</label>
    <input type="radio" name="role" value="instructor">
    <label for="role">student</label>
    <input type="radio" name="role" value="student" checked>

    </br>
    </br>
    <button>Submit</button>
    </br>
    </br>


</form>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/login">login</a></li>
</ul>