<h2>change password</h2>
<% if(message) {%>
    <h4>
        <%= message.error %>
    </h4>
    <h4>
        <%= message.success %>
    </h4>
    <% }%>
        </br>
        <form action="/update_password/<%= pwdChangeToken %>" method="post">
            <label for="new_pwd">new password</label>
            <input type="password" name="new_pwd">
            <input type="submit" value="Button">
        </form>