<!DOCTYPE html>

<!-- <h1>Hello <%= user.name %>, your role is <%= user.role %> -->
<!-- </h1> -->
<%- include("../home.ejs") %>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <h2>profile</h2>


    <ul>
        <li><a href="/instructor/assignment">View your created assignments</a></li>
        <li><a href="/update_password">change password</a></li>
        
        <li><a href="/editprofile">Edit Profile</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>

</body>