<!DOCTYPE html>
<%- include("./partials/head.ejs") %>

<%- include("./partials/home.ejs") %>

<body style="padding-top: 4em; background-color:white;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-9">
                <h2>profile</h2>
                <div class="row">
                    <% for(var i=0; i < 20; i++) { %>
                        <div class="col-md-auto m-2">
                            <div class="card" style="width: 20rem;" id="explore-card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title">Hello World</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">Names</h6>
                                        </div>
                                        <div class="col"><img src="/images/blackhat.png" style="width:100%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col">
                <ul>
                    <% for(var i=0; i < 100; i++) { %>
                        <li> <% i %> </li>
                    <% } %>
                </ul>
            </div>
        </div>
        
    </div>
    
    <%- include("./partials/foot.ejs") %>
</body>