<!DOCTYPE html>
<h1>Hello <%= user.name %>, your role is <%= user.role %>
</h1>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <h2>profile</h2>
    <ul>
        <li><a href="/student/assignments">View your Enrolled assignments</a></li>
        <li><a href="/student/enroll">Enroll for new assignments</a></li>
        <li><a href="/student/view_submission">view all submission</a></li>
        <li><a href="/update_password">change password</a></li>
        <li><a href="/editprofile">Edit Profile</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>

</body>